// Editor CSS
.featured-mppl-list-wrapper {
  
  padding:15px;
  border-radius: 10px;


  .list-name-in-editor{
    font-size: 1.5rem;
  }
}

// Rendered Post / Page CSS
.wp-block-ourplugin-featured-mppl-list{

  .hidden{
    display: none;;
  }

  .list_title{
    font-size: 2rem;
  }

  .list_container{

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    

    .list_item {
      margin: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      flex-basis: 100%;
      flex: 1;
      margin:15px;

      h2{
        font-size: 1.5rem;
      }

      img{
        width: 100%;
      }
    }
  }}
}
